.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.message {
  width: 400px;
  margin: 0 0 16px 0 !important;
}
